<?xml version="1.0"?>
<ruleset name="CSP Automation Manager">
  <description>Project PHPCS rules for the WordPress plugin.</description>

  <arg name="basepath" value="."/>
  <arg name="colors"/>
  <arg name="parallel" value="4"/>
  <arg name="extensions" value="php"/>

  <file>csp-automation-manager.php</file>
  <file>uninstall.php</file>
  <file>includes</file>

  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>.git/*</exclude-pattern>
  <exclude-pattern>docs/*</exclude-pattern>
  <exclude-pattern>test/*</exclude-pattern>

  <rule ref="WordPress-Core"/>

  <rule ref="WordPress.DB.DirectDatabaseQuery">
    <exclude-pattern>includes/admin/*</exclude-pattern>
    <exclude-pattern>includes/admin/views/*</exclude-pattern>
    <exclude-pattern>includes/class-activator.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-hash-manager.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-policy-builder.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-policy-change-manager.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-policy-version-manager.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-scheduler.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-violation-reporter.php</exclude-pattern>
    <exclude-pattern>includes/modules/class-audit-log.php</exclude-pattern>
    <exclude-pattern>includes/rest/class-admin-controller.php</exclude-pattern>
  </rule>

  <rule ref="WordPress.DB.PreparedSQL">
    <exclude-pattern>includes/class-activator.php</exclude-pattern>
    <exclude-pattern>includes/csp/class-violation-reporter.php</exclude-pattern>
  </rule>

  <config name="minimum_supported_wp_version" value="6.4"/>

  <rule ref="WordPress.WP.I18n">
    <properties>
      <property name="text_domain" type="array">
        <element value="csp-automation-manager"/>
      </property>
    </properties>
  </rule>
</ruleset>
